.note_container{
    
    width: 20%;
    margin: 100px auto;
    display: block;
}
#note{
    border: 2px solid gray;
}
#submit{
    width: 245px;
    color: white;
    background-color: coral;
    border: 0px;
    height: 30px;
    border-radius: 5px;
}
#title{
    margin-left: 70px;
}
.display_note{
    display: none;
    border: 2px solid black;
    width: 30%;
    margin: auto;
    text-align: center;
}
#delete{
    width: 245px;
    color: white;
    background-color: coral;
    border: 0px;
    height: 30px;
    border-radius: 5px;
}